#a1 {
    text-decoration: none;
    background-color: #f081be;
    font-size: 20px;
    color: #f0f8ff;
}

#titulo{
    font-size: 50px;
    color: rgb(246, 240, 240);
    margin-top: 15%;
}

header {
    background: url(ANSIEDAD.jpg);
    height: 400px;
    background-size: cover;
}

