#a1 {/*Para volver al inicio de la pantalla */
    text-decoration: none;
    background-color: #89898b;
    font-size: 30px;
    color: #f0f8ff;
}
#titulo{
    display: flex;
    font-size: 70px;
    color: rgb(71, 69, 69);

}


header {/*Ajustes de mi encabezado*/
    background-image: url(img1/Imageb.jpg);
    height: 400px;
    background-size: cover;
    box-shadow: 0 0 10px rgb(43, 43, 41);
}

#descripcion{/*Tamaño de mi texto*/
    font-size: 230%;
    margin-left: 5%;
}

#sintomas{
    font-size: 230%;
    margin-left: 5%;

}

#causas{
    font-size: 230%;
    margin-left: 5%;


}

.container1{/*El espacio de la pantalla sobre mi parrafo*/
    width: 80%;
    margin: 0 auto;
    margin-top: 7%;    
    background-color: rgb(223, 190, 128);
    padding: 5%;
    box-shadow: 0 0 10px rgb(34, 34, 33);

}

