
body{/*color de fondo*/
   background-color:#fac9c9;
}


/*Cosas de la barra*/

.a1 { /*Volver al inicio*/
    text-decoration: none;
    font-size: 40px;
    color: #fefcfc;
    margin-left: 2%;
    font-family: "Cinzel",serif;
    size: 100%;
    margin-right: 45%;
}
.a1:hover{/*hace que el "volver al inicio" cambie de color cuando el cursor pasa por ahi*/
  color: rgb(219, 219, 219);
  background-color: #946060;
  box-shadow: 0 0 15px rgb(47, 47, 46);  
}

#ayuda{/*Caracteristicas de contactos ayuda*/
    font-size: 200%;
    text-decoration: none;
    color: #f1f1f1;
    margin-bottom: 10%;
}

#ayuda:hover{
    background-color: #946060;
    box-shadow: 0 0 15px rgb(47, 47, 46); 
}

#encabezado{ /*agrega la barra de volver al inicio */
    position: fixed;/*Hace que la barra se quede estatica*/
    background-image: none;
    background-color: #d89595;
    bottom: 90%;
    right: 0%;
    left: 0;
    top: 0%;
    height: 7%;
    z-index: 9;
    margin-top: 0%;
    opacity: 100%;
    width: 100%;
    display: flex;
}


/*Encabezado*/


#titulo{ /*Palabra introductoria*/
    font-size: 100px;
    color: rgb(255, 255, 255);
    display: flex;
    margin-top: 4%;
    transform: translateY(35%) translateX(10%);
    font-family: "Cinzel", serif;
    opacity: 89%;
}

header { /*Imegen de fondo encabezado*/
   height: 500px;
   background-image: url(img2/autolesion.webp);
   background-size: cover;
   background-position: center;
   opacity: 95%;
   
}


/*Contenido*/


.significado { /* Agrega estilo a nuestras primeras palabras del todos los div */
    text-align: left;
    margin-top: 1%;
    font-size: 280%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 8%;
}

.parrafo1{ /*Agrega especificaciones similares a los parrafos de todos los div*/
    font-size: 230%;
    color: #100f0f;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 9%;
}

.par1{ /* Hace que tengamos espaciado en la pantalla con nuestro apartado 1 */
    width: 85%;
    margin-left: 0%;
    margin-top: 0%;
    background-color:#f5efef;
    padding: 7.5%;
}

#lado{  /*hace que el texto del par1 y la imagen aparezcan a un lado*/
    display: flex;
    margin-top: 3%;
}

#par2{ /*caracteristicas del division del apartado 2*/
    background-image: url(img2/chica2.webp);
    background-size: 100%;
    height: 600px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color:#f1f1f1;
    padding: 2.5%;
}

#par3{ /*caracteristicas de la division del apartado 3*/
    background-color:#f0f0f0;
    height: 600px;
    width: 85%;
    margin-left: 0%;
    padding: 7.5%;
    background-image: url(img2/chica1.webp);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-position-x: 85%;
    background-size: 20%;
    margin-bottom: 0%;
}

#columnas{ /*Separa el texto del parrafo 3 en columnas*/
    columns: 3 10px;
    margin-top: 5%;
    color: #000000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    column-rule: 15px #d89595 dotted;
}

#par4{ /* caracteristicas de la division del apartado 4 */
    background-color:#ffffff;
    height: 600px;
    width: 85%;
    margin-left: 0%;
    padding: 7.5%;
}

#separacion{/*hace que nuestros cuadros del 4to apartado esten separados*/
    display: flex;
    height: 600px;
}

#acuadro{/*Caracteristicas del 1er cuadro de la 4ta division*/
    font-size: 300%;
    background-color: #d89595;
    width: 30%;
    height: 90%;
    border-radius: 8%;
    margin-right: 5%;
    box-shadow:  0 0 17px rgb(168, 168, 168);
}

#bcuadro{/*Caracteristicas del 2do cuadro de la 4ta division*/
    font-size: 300%;
    background-color: #e8cccc;
    width: 30%;
    height: 90%;
    border-radius: 8%;
    margin-right: 5%;
    box-shadow:  0 0 17px rgb(168, 168, 168);
}


#dcuadro{/*Caracteristicas del 3er cuadro de la 4ta division*/
    font-size: 300%;
    background-color: #cfb1b1;
    width: 30%;
    height: 90%;
    border-radius: 8%;
    box-shadow:  0 0 17px rgb(168, 168, 168);
}

/*Pie de pagina*/


#pie{ /*Caracteristicas del footer*/
    background-color: #fac9c9;
    width: 100%;
    height: 200px;
    display: flex;
}

#Apie{ /*Caracteristicas de visitar otro sitio*/
    text-decoration: none;
    color: rgb(37, 37, 37);
    font-size: 200%;
    margin-top: 4%;
}

#Apie:hover{/*Hace que cuando el cursor pase por arriba del "Otro sitio de ayuda" cambie*/
    background-color: #c3bebe;
    margin-bottom: 7%;
    border-radius: 10%;
    color: #4374ab;
}

#pielogo{ /*Propiedades del "AmorDePadres en footer*/
    margin-top: 5%;
    margin-left: 3%;
    font-size: 200%;
    margin-right: 50%;
    font-family:  "Libre Baskerville", serif;
}
