.cuerpo{
    padding: 2%;
}
    
/*Para que tenga un desplazamiento más sueave*/
html{
    scroll-behavior: smooth;
}

/*Texto que vaya apareciendo estilos*/

#content {
    background: white;
    /* Fondo blanco para resaltar el contenido */
  
    border-radius: 8px;
    /* Bordes redondeados para suavizar la caja */
  
  }
  
  /* Estilos para todos los párrafos dentro de #content */
  /* Inicialmente están ocultos y desplazados hacia abajo */
  #content p {
    opacity: 0;
    /* Transparencia total, párrafos invisibles inicialmente */

    transition: 
      opacity 0.9s cubic-bezier(.4,0,.2,1),
      transform 0.9s cubic-bezier(.4,0,.2,1);
    /* Transiciones suaves para opacidad y posición con curva de animación personalizada */
  
    will-change: opacity, transform;
    /* Optimiza el rendimiento indicando que estos dos estilos cambiarán */
  
    margin-bottom: 1%;
    /* Margen inferior para separar los párrafos */
  }
  
  /* Estilos para párrafos que tienen la clase 'visible' */
  /* Aquí están completamente visibles y en posición original */
  #content p.visible {
    opacity: 1;
    /* Opacidad total, párrafo visible */
  
    transform: translateY(10);
    /* Sin desplazamiento vertical, posición natural */
  }


/* Estilos para el boton donde  donde se veran varios padecimientos*/
.hamburger-btn{
    height: 115px;
    width: 7%;
    z-index: 8;
    position: fixed;
    margin-left: 10%;
    transform: translateY(190%) translateX(-210%);
    background-color: #eddab1;
    transition: background-color 0.3s ease;/*Agrega una transicion suave para el fondo*/
    border: 1px solid #222;
    border-radius: 30%;
}

/*Hover del boton*/
.hamburger-btn:hover #padecimientos{
    background-color: #c7a660;
}

/*Mueve la flecha del boton*/
#picar{
    height: 40%;
    transform: translateX(80%);
 }

/*Propiedades del submenu en la izquierda*/
#padecimientos{
    width: 14%;
    height: 450px;
    background-color:#fbf6d9;
    top: 25%;
    left: -2%;
    position:fixed;
    z-index: 9;
    border-radius: 5%;
    transition: left 0.3s ease; /* Transición suave al mover el menú */
}

/* Estilos que utilizan todas las ventanas del submenu*/
.ventana2{
    text-decoration: none;
    font-family: "DM Sans", sans-serif;
    font-size: 180%;
    font-weight: 300;
    transition: background-color 0.3s ease;/*Agrega una transicion suave para el fondo*/
    color:#080808;
    display: block; /* Hace que los enlaces ocupen toda la anchura disponible para mejorar la usabilidad */
}

.ventana2:hover{
    background-color: #c9ab69;
    color: #f9f9f9 ;
    height:40px;
 }

/*Cerrar el menu boton*/
.cerrar2{
    font-size: 30px; /* Tamaño del icono o texto del botón */
    cursor: pointer; /* Cambia el cursor a una mano para indicar que es clickeable */
    border: none; /* Elimina los bordes del botón */
    background: none; /* Elimina cualquier fondo del botón */
    color: black;
    font-family: "Lexend", sans-serif;
    font-weight: 600;
    width: 30%;
    margin-top: 10%;
    transform: translateX(130%);
    transition: background-color 0.3s ease;/*Agrega una transicion suave para el fondo*/
    display: block;
}

.cerrar2:hover{
    background-color: #c9ab69;
    color: #e0d8cd;
    border-radius: 9%;
}


/* Clase que activa el menú */
.padecimientos.active {
    margin-left: 0%; /* Mueve el menú a la posición visible cuando se activa */
}

/*Clase que desactiva el menu*/
.padecimientos.disabled{
    margin-left: -90%;
}

    /*Barra*/

 /*Se dan propiedades a la barra donde esta el icono y demas elementos*/
  .barra2{
    background-color:#fff4da;
    width: 100%;
    height: 80px;
    position: fixed;/*Hace qur la barra quede estatica*/
    bottom: 90%;
    right: 0%;
    left: 0;
    top: 0%;
    z-index: 1000;
}

/*Propiedades del icono*/
#icono{
    height: 110px;
    margin-left: -2%;
    margin-top: -2%;
}

 /*Aumentar o disminuir el texto boton*/
.controls{
    transform: translateX(1150%);
    margin-top: 0.8%;
}

/* Estilo general de los botones */
.barra2 button {
    padding: 1px; /* Espaciado interno para hacerlos más grandes */
    margin: 2px; /* Espaciado entre botones */
    font-size: 35px; /* Tamaño de fuente adecuado */
    font-family: "Lexend", sans-serif;
    font-weight: 250;
    transition: .3s linear ; /*Agrega una transicion suave para el fondo*/
    cursor: pointer; /* Cambia el cursor a 'mano' cuando el usuario pase sobre ellos */
    border: none; /* Elimina los bordes del botón */
    background: none; /* Elimina cualquier fondo del botón */

}

.barra2 button:hover{
    color: #5fa6f2;
}

/*Propiedades del icono de mensajes */
#mensajes2{
    color: #200f06;
    font-size: 400%;
    font-weight: 200;
    transform: translateX(1100px) translateY(20%);
    transition: .3s linear ; /*Agrega una transicion suave para el fondo*/
}

#mensajes2:hover{
    color: #5fa6f2;
}



/*Propiedades de la barra donde esta la flecha*/
#barra1{
    background-color: #eddab1;
    width: 100%;
    height: 120px;
    position: fixed;/*Hace que la barra quede estatica*/
    bottom: 90%;
    right: 0%;
    left: 0;
    top: 1%;
    z-index: 10;
}

/*Propiedades de la lista que contiene cada elemento de la 2da barra*/
#barra1 ul{
    list-style: none;
}

/*Padding de cada elemento de la lista de la 2da barra*/
#barra1 ul li{
    padding: 3%;
}

/*Propiedades para "sugerencias" en 2da mini barra*/
#sugerencias{
    text-decoration: none;
    font-size: 150%;
    color: #200f06;
    font-family:"Lexend", sans-serif;
    transition: .3s linear ; /*Agrega una transicion suave para el fondo*/
    font-weight: 270;
    margin-left: 1490%;
}

#sugerencias:hover{
    color: #ffffff;
}

/*Propiedades para "ayuda" en 2da mini barra*/
.ayuda{
    text-decoration: none;
    font-size: 150%;
    font-weight: 270;
    color: #200f06;
    font-family:"Lexend", sans-serif;
    transition: .3s linear ; /*Agrega una transicion suave para el fondo*/
    margin-left: 1250%;
}

.ayuda:hover{
    color: #ffffff;
}

        /*ENCABEZADO*/

#encabezado{/*Estilos para la imagen del encabezado*/
    background-image: url(contactos.img/IMG_0922.webp);
    background-size: cover;
    background-position-y:50%; 
    height:400px;
    opacity: 95%;
    transform: translateY(0%);
    position: relative;
    padding: 5%;
}

#encabezado h2{/*Estilo para la palabra ayuda en el encabezado*/
    font-size: 600%;
    color: rgb(255, 255, 255);
    text-align: center;
    transform: translateY(100%);
    opacity: 100%;
    font-family: "Lexend", sans-serif  ;
}

    /*CONTENIDO*/

.par1{/*Estilos del parrafo introductorio y del pequeño renglon donde explica como funciona*/
    font-size: 170%;
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 5%;
    justify-content: center;
}

#funciona{/*Estilo pregunta ¿Cómo funciona?*/
    text-align: center;
    font-family:"DM Sans", sans-serif ;
    font-weight: 500;
    font-size: 200%;
    margin-top: 5%;
}

   /*CUADROS QUE EXPLICAN CADA PARTE DE AYUDA*/

.cuadro {/*Estilo del cuadro de ayuda autodidacta*/
    width: 400px;
    height: 350px;
    background-color: #f3e1e1 ;
    background-size: 80%;
    border-radius: 10px;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s;
    padding: 1%;
    margin-left: 14%;
    margin-right: 10%;
    display: flex;
    font-family: "DM Sans", sans-serif;
    font-size: 150%;
    font-weight: 400;
  }

  .cuadro:hover {
    transform: rotate(-5deg) scale(1.0);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

    /*Estilos del cuadro de servicio de ayuda*/
  #cuadro2{
    padding-left: 5%;
  }

  .cuadro2 {
    width: 400px;
    height: 350px;
    background-color: #f3e1e1 ;
    background-size: 80%;
    border-radius: 10px;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s;
    padding: 1%;
    margin-left: 2%;
    display: flex;
    font-family: "DM Sans", sans-serif;
    font-size: 150%;
    font-weight: 400;
  }

  .cuadro2:hover {
    transform: rotate(-5deg) scale(1.0);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }


     /*CUADROS PARA ELEGIR QUE TIPO DE AYUDA QUIERES*/

     /* 1er cuadro (AYUDA AUTODIDACTA) */

.container2{
    margin-top: -14%;
    margin-left: 100px;
 }

  /* Estilos para el 1er cuadro*/
.hamburger-btn2{
    height: 280px;
    width: 40%;
    background-image: url(contactos.img/autonomo.webp);
    background-size: 150%;
    background-repeat: no-repeat;
    background-position-y: 30%;
    background-position-x: 30%;
    border-radius: 10%;
    z-index: 5;
    margin-right: 60%;
    margin-left: 5%;
    margin-top: -5.5%;
    border: 1px solid rgba(43, 42, 42, 0.1);
    box-shadow: 0 25px 25px rgba(95, 94, 94, 0.25);
    transition: all 0.3s ease;
}

/*Hover del cuadro*/
.hamburger-btn2:hover{
    transform: translateY(-5px);
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
}

/*Estilos de la palabra "Ayuda autodidacta" dentro del cuadro*/
#ayuda{
    font-family: "DM Sans", sans-serif;
    font-size: 300%;
    font-weight: 550;
    color: rgb(11, 11, 11);
    text-decoration: none;
    transform: translateY(150%);
    transition: .3s linear ; /*Agrega una transicion suave para el fondo*/
}

#ayuda:hover{
    color: #e3e9ef;
}


 /*2do cuadro estilos (SERVICIO DE AYUDA) */

#servicio{/*Estilos para la palabra Servicio de ayuda en el 2do cuadro para ir al formulario*/
    font-family: "DM Sans", sans-serif;
    font-size: 300%;
    font-weight: 550;
    color: rgb(11, 11, 11);
    text-decoration: none;
    transform: translateY(150%);
    transition: .3s linear ; /*Agrega una transicion suave para el fondo*/
}

#servicio:hover{
    color: #e3e9ef;
}

.container1{
    margin-left: 120px;
}

/* Estilos el cuadro de servicio de ayuda*/
.hamburger-btn1{
    height: 280px;
    width: 40%;
    background-image: url(contactos.img/servicio.webp);
    background-size: 150%;
    background-repeat: no-repeat;
    background-position-y: 10%;
    background-position-x: 30%;
    border-radius: 10%;
    z-index: 5;
    margin-left: 47%;
    margin-top: 5%;
    border: 1px solid rgba(43, 42, 42, 0.1);
    box-shadow: 0 25px 25px rgba(95, 94, 94, 0.25);
    transition: all 0.3s ease;
}

/*Hover del cuadro*/
.hamburger-btn1:hover{
    transform: translateY(-5px);
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
}

  

/*Inicia algunos lugares estilos para ayuda autodidacta*/

/*Estilos del div que tiene toda esta seccion*/
#fotos{
    margin-top: 10%;
    margin-left: 10%;
    position: relative;
}

#fotos:hover .texto{
    opacity: 1; /*Mostrar el texto al pasar el cursor*/
}

.texto{/*Estilo de todo el texto que aparece en el primer lugar*/
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 100%;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.5); /*Fondo semi-transparente*/
  color: white;
  justify-content: center;
  align-items: center;
  opacity: 0; /*Inicialmente el texto no se ve*/
  transition: opacity 0.3s ease; /*Transición suave*/
}


#foto1{/*Estilo de la imagen de este lugar*/
    border-radius: 15px;
}

#centro{/*Estilo para nombre del lugar*/
    font-family: "Lexend", sans-serif;
    margin-left: 5%;
    font-weight: 400;
}

#Direccion{/*Estilo para la palabra "Direccion"*/
    font-family: "Lexend", sans-serif;
    margin-left: 5%;
    font-weight: 300;
}

.informacion{/*Estilo para la informacion del lugar*/
    font-family: "DM Sans", sans-serif;
    font-size: 120%;
    font-weight: 200;
    margin-left: 5%;
}

#quehace{/*Estilo para el pequeño parrafo que explica el lugar*/
    margin-top: 30%;
    padding-left: 3%;
    padding-right: 3%;
    font-weight: 240%;
    font-family: "DM Sans", sans-serif;
    font-size: 140%;
    margin-left: 5%;
}

