body{
    background-color: #ffffff;
}

/*Propiedades de la barra donde esta la flecha*/



  /*Texto que vaya apareciendo estilos*/

  #content {
    background: white;
    /* Fondo blanco para resaltar el contenido */
  
    border-radius: 8px;
    /* Bordes redondeados para suavizar la caja */
  
  }
  
  /* Estilos para todos los párrafos dentro de #content */
  /* Inicialmente están ocultos y desplazados hacia abajo */
  #content p {
    opacity: 0;
    /* Transparencia total, párrafos invisibles inicialmente */
  
  
    transition: 
      opacity 0.6s cubic-bezier(.4,0,.2,1),
      transform 0.6s cubic-bezier(.4,0,.2,1);
    /* Transiciones suaves para opacidad y posición con curva de animación personalizada */
  
    will-change: opacity, transform;
    /* Optimiza el rendimiento indicando que estos dos estilos cambiarán */
  
    margin-bottom: 1%;
    /* Margen inferior para separar los párrafos */
  }
  
  /* Estilos para párrafos que tienen la clase 'visible' */
  /* Aquí están completamente visibles y en posición original */
  #content p.visible {
    opacity: 1;
    /* Opacidad total, párrafo visible */
  
    transform: translateY(10);
    /* Sin desplazamiento vertical, posición natural */
  }


/* Estilos para el boton donde  donde se veran varios padecimientos*/
.hamburger-btn{
    height: 115px;
    width: 7%;
    z-index: 8;
    position: fixed;
    margin-left: -4%;
    transform: translateY(300%) translateX(-700%);
    background-color: #eddab1;
    transition: background-color 0.3s ease;/*Agrega una transicion suave para el fondo*/
    border: 1px solid #222;
    border-radius: 30%;
}

/*Hover del boton*/
.hamburger-btn:hover{
    background-color: #c7a660;
}

/*Mueve la flecha del boton*/
#picar{
    height: 40%;
    transform: translateX(80%);
 }

/*Propiedades del submenu en la izquierda*/
#padecimientos{
    width: 14%;
    height: 450px;
    background-color:#fbf6d9;
    top: 25%;
    left: -2%;
    position:fixed;
    z-index: 9;
    border-radius: 5%;
    transition: left 0.3s ease; /* Transición suave al mover el menú */
}

/* Estilos que utilizan todas las ventanas del submenu*/
.ventana2{
    text-decoration: none;
    font-family: "DM Sans", sans-serif;
    font-size: 180%;
    font-weight: 300;
    transition: background-color 0.3s ease;/*Agrega una transicion suave para el fondo*/
    color:#080808;
    display: block; /* Hace que los enlaces ocupen toda la anchura disponible para mejorar la usabilidad */
}

.ventana2:hover{
    background-color: #c9ab69;
    color: #f9f9f9 ;
    height:40px;
 }

/*Cerrar el menu boton*/
.cerrar2{
    font-size: 30px; /* Tamaño del icono o texto del botón */
    cursor: pointer; /* Cambia el cursor a una mano para indicar que es clickeable */
    border: none; /* Elimina los bordes del botón */
    background: none; /* Elimina cualquier fondo del botón */
    color: black;
    font-family: "Lexend", sans-serif;
    font-weight: 600;
    width: 30%;
    margin-top: 10%;
    transform: translateX(130%);
    transition: background-color 0.3s ease;/*Agrega una transicion suave para el fondo*/
    display: block;
}

.cerrar2:hover{
    background-color: #c9ab69;
    color: #e0d8cd;
    border-radius: 9%;
}


/* Clase que activa el menú */
.padecimientos.active {
    margin-left: 0%; /* Mueve el menú a la posición visible cuando se activa */
}

/*Clase que desactiva el menu*/
.padecimientos.disabled{
    margin-left: -90%;
}

#pagina1{
    width: 60%;
    margin-left: 23%;
    margin-top: 5%;
}

#pagina{
    display: flex;
    list-style: none;

}

#pagina li{
    padding: 2%;
}

#pagina li a{
    transition: .3s linear ; /*Agrega una transicion suave para el fondo*/
}

#pagina li a:hover{
    color: #ecad24;
}

.ventanas{
    text-decoration: none;
    font-size: 200%;
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
    color: #080808;
    text-align: center;
}




#barra1{
  background-color: #eddab1;
  width: 100%;
  height: 120px;
  position: fixed;/*Hace que la barra quede estatica*/
  bottom: 90%;
  right: 0%;
  left: 0;
  top: 1%;
  z-index: 10;
}

#barra1 ul{
  list-style: none;
}

#barra1 ul li{
  padding: 3%;
}
.controls{
  transform: translateX(1150%);
  margin-top: 0.8%;
}

/* Estilo general de los botones */
button {
  padding: 1px; /* Espaciado interno para hacerlos más grandes */
  margin: 2px; /* Espaciado entre botones */
  font-size: 35px; /* Tamaño de fuente adecuado */
  font-family: "Lexend", sans-serif;
  font-weight: 250;
  transition: .3s linear ; /*Agrega una transicion suave para el fondo*/
  cursor: pointer; /* Cambia el cursor a 'mano' cuando el usuario pase sobre ellos */
  border: none; /* Elimina los bordes del botón */
  background: none; /* Elimina cualquier fondo del botón */

}

button:hover{
  color: #f8af07;
}

/*Se dan propiedades a la barra donde esta el icono y demas elementos*/
.barra2{
  background-color:#fff4da;
  width: 100%;
  height: 80px;
  position: fixed;/*Hace qur la barra quede estatica*/
  bottom: 90%;
  right: 0%;
  left: 0;
  top: 0%;
  z-index: 10;
}

#icono{
  height: 110px;
  margin-left: -2%;
  margin-top: -2%;
}

.ayuda{
  text-decoration: none;
  font-size: 150%;
  font-weight: 270;
  color: #200f06;
  font-family:"Lexend", sans-serif;
  transition: .3s linear ; /*Agrega una transicion suave para el fondo*/
  margin-left: 1250%;
}

.ayuda:hover{
  color: #ffffff;
}


#mensajes2{
  color: #200f06;
  font-size: 400%;
  font-weight: 200;
  transform: translateX(1100px) translateY(20%);
  transition: .3s linear ; /*Agrega una transicion suave para el fondo*/
}

#mensajes2:hover{
  color: #f8af07;
}

#inicio2{
  text-decoration: none;
  font-size: 150%;
  color: #200f06;
  font-family:"Lexend", sans-serif;
  transition: .3s linear ; /*Agrega una transicion suave para el fondo*/
  font-weight: 270;
  margin-left: 1500%;
}

#inicio2:hover{
  color: #ffffff;
}


/* Propiedades para el header*/

.cabecera{
    height: 300px;
    background-image: url(ia.img/ia\ header.webp);
    background-position: bottom;
    opacity: 95%;
    margin-top: 3%;
}

.fondo{
   height: 300px;
   background-color: rgba(0, 0, 0, 0.1); /* Fondo negro semitransparente (50% de opacidad) */
   margin-top: 8%;
 }
 
#frase{
  font-size: 450%;
  font-family: "Lexend", sans-serif;
  text-align: center;
  transform: translateY(90%) translateX(-1%);
  color: #fbf6ed;
}


/*Propiedades para la ia*/

#webchat .bpWebchat {
    position: relative;/*Posiciona la ia de manera relativa*/
    width: 230%;
    height: 500%;
    margin-top: 65%;
    margin-left: 30%;
    color: aqua;
    z-index: 8;
  }

/*Propiedades para presentar a Lia*/

.Lia2{
    font-size: 270%;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    justify-content: center;
    margin-left: 10%; 
}

#explicacion{
    font-size: 170%;
    font-family: "DM Sans", sans-serif;
    font-weight: 340;
    justify-content: center;
    margin-right: 5%;
    margin-left: 8%;
    
}

#ejemplos{
    font-size: 220%;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    justify-content: center;
   text-align: center; 
}

/*PIE PAGINA*/

#pie {/*Propiedades del footer*/
  background-color: #F1Eada;
  height: 400px;
  width: 107%;
  margin-top: 15%;
  margin-left: -4%;
}


#pieFrase{/*Propiedades de la palabra "Amor de padres" en el footer*/
  font-size: 190%;
  opacity: 80%;
  font-family:"Lexend", sans-serif;
  font-weight: 450;
  text-align: left;
  transform: translateY(90%);
  margin-left: 6%;
}

#pieparra{
  font-size: 120%;
  font-family: "DM Sans", sans-serif;
  text-align:left;
  justify-content: center;
  margin-left: 6%;
  margin-top: -8%;
  opacity: 70%;
  font-weight: 300;
  width: 25%;
}

#seguir{
  font-size: 150%;
  opacity: 80%;
  font-family:"Lexend", sans-serif;
  font-weight: 400;
}

#servicio{
  font-size: 150%;
  opacity: 80%;
  font-family:"Lexend", sans-serif;
  font-weight: 400;
}

#redess{
  font-size: 150%;
  opacity: 80%;
  font-family:"Lexend", sans-serif;
  font-weight: 400;
}

.p1{
  font-size: 120%;
  opacity: 80%;
  font-family:"DM Sans", sans-serif;
  font-weight: 400;
  transition: .3s linear ; /*Agrega una transicion suave para el fondo*/
}

.p1:hover{
  color: #d69601;
}

#p2{
  color: #0a0808;
  text-decoration: none;
}

#p2:hover{
  color: #d69601;
}

/* agrega el estilo al segundo pie de cabeza*/
#parte5{
  background-color: #cec1a8;
  height: 20%;
  margin-top: 10%;
}

/*Agrega los iconos de facebook y bitacora*/
#lista4{
 display: flex;
 list-style: none;
 margin-left: 80%;
}

/*icono de la bitacora*/
#bitacora{
  height: 75%;
  opacity: 60%;
  margin-top: 15%;
  margin-left: 25%;
}

/*Icono facebook*/
#facebook{
  height: 70%;
  margin-top: 40%;
  opacity: 60%;
}

#insta{
  margin-top: 20%;
  height: 90%;
  opacity: 60%;
}


.Copyright{/*Agrega el copyright en el footer*/
  font-size: 130%;
  opacity: 50%;
  font-family:"Lexend", sans-serif;
  font-weight: 300;
  margin-left: 681px;
  margin-top: 10%;
}




.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .glass {
  position: relative;
  width: 550px;
  height: 350px;
  background-image: url(ia.img/foto1.webp);
  background-size: 100%;
  background-repeat: none;
  background-position: cover;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-radius: 10px;
  margin: 0 -45px;

}

.container:hover .glass {
  transform: rotate(0%);
  margin: 0 10px;
}

