body{
    background-image: url(servicio.img/fondo.webp);
    background-size: cover;
    height: 120%;
    background-position-y: -5%;
    background-position-x: 30%;
    background-repeat: no-repeat;
}

/*Estilo para la imagen del icono en barra*/
#icono{
    height: 80px;
    margin: -1% 0% 0% -1%;
}

/*Estilo para flecha de volver a la ventana de ayuda*/
#flecha{
    text-decoration: none;
    font-size: 170%;
    margin-left: 80%;
    margin-top: -1%;
    color: #080808;
    font-weight: 500;
    transition: .3s linear ; /*Agrega una transicion suave para el fondo*/
    position: static;
    z-index: 100;
}

#flecha:hover{
    color: #ffffff;
}

/*Estilos de todo el formulario*/
.formulario2{
    height: 770px;
    width: 45%;
    border-radius: 15px;
    margin-left: 25%;
    margin-top: 4%;
    padding: 32px 36px 5px; 
    background-color: #fffbf3;
    box-shadow: 0 0 30px rgb(0, 0, 0, 0.5);
    border: 2px solid rgba(72, 71, 71, 0.5);
}

/* Estructura del formulario: columnas con separación */
form {
    display: flex;
    flex-direction: column; /* Disposición vertical de campos */
  }

/*Estilos para label que acompaña cada casilla*/
form label{
    font-family: "DM Sans", sans-serif; /* Fuente diferenciada para títulos */
    font-weight: 500;                  /* Negrita para énfasis */
    color: #222;                       /* Gris muy oscuro para legibilidad */
    margin-bottom: 4px;               /* Separación inferior */
    text-align: left;                /* Centrar texto */
    font-size: 135%;
    margin-left: 12%;
}

/*Estilos para el texto del formulario*/
form h2{
    font-family: "DM Sans", sans-serif; /* Fuente diferenciada para títulos */
    font-weight: 500;     
    font-size: 250%;             
    color: #222;   
    text-align: center;            
}


  /* Input tipo texto en mayúsculas automáticas */
input[type="text"] {
    width: 60%;                         /* Ocupa todo el ancho del contenedor */
    padding: 7px 10px;                  /* Relleno interno para comodidad */
    border: 2px solid #ccc;              /* Borde gris claro */
    border-radius: 10px;                 /* Bordes redondeados */
    font-size: 20px;                     /* Tamaño de letra estándar */
    align-items: left;
}

/*Mueve las partes de escribir en el formulario*/
.espacios{
   transform: translateX(14%);
}

.espacios:hover{
    border: 2px solid #5d8736;              /* Borde gris claro */
}

/*Estilos del icono de exclamacion hasta el ultimo en el formulario*/
#aviso{
    font-weight: 700;
    margin-top: -8%;
    margin-left: 9%;
}
/*Estilos del texto de aviso hasta el ultimo en el formulario*/
#aviso2{
    font-family: "DM Sans", sans-serif;
    font-size: 85%;
    transform: translateY(-60%) translateX(3%);
}
/*Estilos del boton de borrar*/
#borrar{
    height: 50px;
    width: 20%;
    margin-left: 30%;
    margin-bottom: 5%;
    transition: background-color 0.3s ease;/*Agrega una transicion suave para el fondo*/
    border-radius: 40px;
    border: none;
    background-color: #f4ebe9;
}

#borrar:hover{
    background-color: #ebc7ca;
}
/*Estilo del boton de enviar*/
#enviar{
    height: 50px;
    width: 20%;
    margin-left: 4%;
    margin-bottom: 5%;
    transition: background-color 0.3s ease;/*Agrega una transicion suave para el fondo*/
    border-radius: 40px;
    font-size: 120%;
    font-weight: 300;
    font-family: "DM Sans", sans-serif;
    border: none;
    background-color: #f4ebe9;
}

#enviar:hover{
    background-color: #dcb2b6;
}

/*Estilos para el apartado de cometarios*/
#comentario{
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 5px;
}

#comentario:hover{
    border: 2px solid #5d8736; 
}