#cuerpo{ 
    background-color: rgb(251, 246, 237);
} 

header { /*Video en el encabezado*/
    height: 80vh;
    overflow: hidden; /*Recorta el video al tamaño de la cabecera*/
    position: relative; /*Posisiona el video dependiendo de top, left etc...*/
}

header video{
    width: 100%;
    background-position: center center;
}
header .imagen{
    position: absolute;/* Nos sirve para poder posicionar nuestra frase arriba del video*/
    width: 100%;
    top: 50%;
    transform: translateY(-50%);/*Nos permite mover la frase(como los margin pero mejor)*/
    text-align: center;
    color: #4b2a15;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 2px;
    font-size: 240%;
    opacity: 85%;
}

 .lista { /*Para que las ventanas aparezcan todas a un costado*/
    display: inline-block;
    margin: 0 0px;
    font-size: 30px;
}


.a1 { /*Vista de las ventanas*/
    color: black;
    text-decoration: none;
    background-image: linear-gradient(rgba(136, 136, 138, 0.486), rgba(160, 157, 157, 0.356)), 
    url(img1/ansiedad13.webp);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 50px;
    border-radius: 7px;
    font-size: 280%;

}

.a1:hover{/*Opacea la ventana cuando la flechita pasa por la ventana*/
    opacity: 40%;
    color: rgb(8, 8, 8);
    box-shadow:  0 0 17px rgb(43, 43, 41); 
}

.a2 {
    color: black;
    text-decoration: none;
    background-image:linear-gradient(rgba(136, 136, 138, 0.486), rgba(160, 157, 157, 0.356)), 
    url(img1/depresion12.webp);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 50px;
    border-radius: 7px;
    font-size: 280%;

} 
.a2:hover{/*Opacea la ventana cuando la flechita pasa por la ventana*/
    opacity: 40%;
    color: rgb(10, 9, 9);
    box-shadow:  0 0 17px rgb(43, 43, 41);
}

.a3 {
    color: black;
    text-decoration: none;
    background-image:linear-gradient(rgba(136, 136, 138, 0.486), rgba(160, 157, 157, 0.356)), 
    url(img1/atolesion1.webp);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 50px;
    border-radius: 7px;
    font-size: 280%;
}
.a3:hover{/*Opacea la ventana cuando la flechita pasa por la ventana*/
    opacity: 40%;
    color: rgb(10, 8, 8);
    box-shadow:  0 0 17px rgb(43, 43, 41);
}

.a4 {
    color: black;
    text-decoration: none;
    background-color: rgb(252, 200, 121);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 50px;
    border-radius: 7px;
    font-size: 280%;

}

.a4:hover{/*Opacea la ventana cuando la flechita pasa por la ventana*/
    opacity: 40%;
    color: rgb(8, 7, 7);
    box-shadow:  0 0 17px rgb(43, 43, 41);
}

#conocernos { /*Primer parrafo del inicio*/
    font-size: 210%;
    margin-left: 5%;
    font-family: "Lora", serif;
}

#regresar { /*Boton de regreso hasta abajo*/
    font-size: 60px;
    text-decoration: none;
    color: black;
    background-color: #ff9d23;
    border-radius: 8px;
}

#importancia{ /*Segundo parrafo inicio*/
    font-size: 230%;
    margin-left: 5%;
    font-family: "Lora", serif;
}

#foto1 { /* Foto al costado del primer parrafo*/
    width: 500px;
    margin-top: 30%;
}

#fotolado1 { /* Hace que el primer parrafo y la foto aparezcan una a cada lado*/
    display: flex;
    margin-top: 3%;
}

#fotolado2{  /* Hace que el segundo parrafo y la foto aparezcan una a cada lado*/
    display:flex;
    margin-top: 6%;
    
}

#foto2{ /* foto al costado del segundo parrafo*/
    width: 500px;
}

.container { /* Hace que exista un espacio entre la pantalla y el sitio web */
    width: 80%;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    padding: 8%;
    box-shadow: 0 0 10px rgb(136, 136, 134);
    margin-bottom: 17%;
}

#buscador{ /* propiedades del input de busqueda */
    border-radius: 8px;
    width: 250px;
    padding: 15px 15px;
    font-size: 100%;
    margin-top: 10px;
}

#botonbusqueda { /* propiedades del boton de buscar*/
    width: 100px ;
    padding: 15px;
    background-color: #fac196;
    font-size: 100%;
    border-radius: 8px;
}

#pie {
    background-color: rgb(255, 231, 198);
}