#cuerpo{ /*Caracteristicas de todo el cuerpo de el sitio web*/
    background-color: #fbf6ed;
    margin: 0%;
    padding: 0%;
} 

/*BARRA*/

#encabezado{/*Barra parte de arriba*/
    height: 15%;
    background-color: #f8e6bb;
    text-align: center;
    position: fixed;/*hace que la barra se quede estatica*/
    bottom: 0%;
    right: 0%;
    left: 0%;
    top: 0.1%;
    z-index: 100; /*Hace que muestre la barra arriba de cualquier elemento*/
    opacity: 100%;
    
}

#listaencabezado{ /*Caracteristicas en general de la lista para los elemtos de la barra*/
    list-style: none;
    display: flex;
}

#icono{/*caracteristicas del icono de amor de padres en la barra*/
    height: 110px;
    margin-top: -16%;
}

/*Estilos para el icono*/
 #mensajes{
    font-size: 200%;
    margin-left: 720%;
    margin-top: 20%;
    color: #200f06;
    transition: color 0.3s ease;/*Agrega una transicion suave para el fondo*/
 }

 #mensajes:hover{
    color: #d0af60;
 }

#ayuda{/*Agrega el apartado de contacto de ayuda en la barra*/
    text-decoration: none;
    font-size: 240%;
    color: #200f06;
    border-radius: 10px 10px;
    font-family:"Lexend", sans-serif;
    transition: .3s linear ; /*Agrega una transicion suave para el fondo*/
}

#ayuda:hover{
    color: #d0af60;
    text-shadow: 4px 4px 15px #7d7c7c;
}

/* Estilos para el botón de menú hamburguesa */
.hamburger-btn {
    font-size: 70px; /* Tamaño del icono o texto del botón */
    cursor: pointer; /* Cambia el cursor a una mano para indicar que es clickeable */
    border: none; /* Elimina los bordes del botón */
    background: none; /* Elimina cualquier fondo del botón */
    position: fixed; /* Se posiciona de manera absoluta dentro de su contenedor */
    top: 20px;/* Se coloca a 20 píxeles desde la parte superior */
    right: 20px; /* Se coloca a 20 píxeles desde la derecha */
    transition: background-color 0.3s ease;/*Agrega una transicion suave para el fondo*/
    height: 130.2px;
    width: 8%;
    transform: translateY(-20%) translateX(14%);
}

.hamburger-btn:hover{
    background-color: #d0af60;
}

/* Estilos del menú lateral */
.side-menu {
    position: fixed; /* Fija el menú en la pantalla sin moverse con el contenido */
    right: -250px; /* Inicialmente, coloca el menú fuera de la vista en el lado derecho */
    top: 0; /* Se coloca en la parte superior de la pantalla */
    width: 250px; /* Ancho del menú lateral */
    height: 100%; /* Ocupa toda la altura de la pantalla */
    background-color: #b59e7d; /* Color de fondo */
    color: white; /* Color del texto en blanco */
    transition: right 0.3s ease; /* Transición suave al mover el menú */
    padding-top: 60px; /* Espacio superior dentro del menú para evitar que los elementos queden pegados arriba */
}

/* Estilos de la lista dentro del menú */
.side-menu ul {
    list-style: none; /* Elimina los estilos predeterminados de la lista (viñetas) */
    padding: 0; /* Elimina el padding por defecto de la lista */
}

/* Estilos para cada elemento de la lista */
.side-menu ul li {
    padding: 15px; /* Agrega espaciado dentro de cada elemento */
    text-align: center; /* Centra el texto en cada elemento */
    font-size: 170%;
}

/* Estilos para los enlaces dentro de la lista */
.side-menu ul li a {
    color: white; /* Color del texto en blanco */
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    display: block; /* Hace que los enlaces ocupen toda la anchura disponible para mejorar la usabilidad */
    transition: background-color 0.3s ease;
    font-family: "Lexend", sans-serif;
    font-weight: 300;
    font-size: 90%;
}

/* Efecto al pasar el mouse sobre los enlaces */
.side-menu ul li a:hover {
    background-color: #ccc2aa; /* Cambia el fondo a un tono más claro cuando se pasa el mouse */
}

/*Cerrar el menu boton*/
.cerrar2{
    font-size: 30px; /* Tamaño del icono o texto del botón */
    cursor: pointer; /* Cambia el cursor a una mano para indicar que es clickeable */
    border: none; /* Elimina los bordes del botón */
    background: none; /* Elimina cualquier fondo del botón */
    color: white;
    font-family: "Lexend", sans-serif;
    font-weight: 600;
    width: 90%;
    transition: background-color 0.3s ease;/*Agrega una transicion suave para el fondo*/
}

.cerrar2:hover{
    background-color: #5e5a51;
}

/* Clase que activa el menú */
.side-menu.active {
    right: 0; /* Mueve el menú a la posición visible cuando se activa */
}

/*Clase que desactiva el menú */
.side-menu.disabled {
    left: 100%;
}


/*ENCABEZADO*/


header { /* Pone el video en el encabezado*/
    height: 110vh;
    overflow: hidden;/*Recorta el video al tamaño del sitio*/
    position: relative; /*Posisiona el video dependiendo de top, left etc...*/
}

header video{/*Propiedades para el video*/
    width: 100%;
    background-position: center center;
    background-size: 1000%;
}
header .imagen{/*Le da caracteristicas a la frase del encabezado*/
    position: absolute;/* Nos sirve para poder posicionar nuestra frase arriba del video*/
    width: 100%;
    top: 50%;
    transform: translateY(-50%);/*Nos permite mover la frase(como los margin pero mejor)*/
    text-align: center;
    color: #200f06;
    text-shadow: 2px;
    font-size: 230%;
    opacity: 85%;
    font-family: "Lexend", sans-serif;
}

.fondo2{
    background-color: rgba(0, 0, 0, 0.2); /* Fondo negro semitransparente (50% de opacidad) */
}

  
/* Propiedades para presentarnos como sitio */
   
#inicio{ /*Propiedades para el div que divide esta seccion*/
    background-color:#fbf6ed;
    background-size: 100%;
    height: 500px;
    margin-top: -4%;
}
#presentacion{/* Propiedades para otro div que pone los elementos a un lado de otro */
    display: flex;
}

#quienes{/* le da propiedad a "Quienes somos"*/
    font-family: "DM Sans", sans-serif;
    font-size: 250%;
    margin-left: 3%;
}

#introducirnos{/* le da propiedades al parrafo */
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    margin-left: 5%;
}

#ima1{ /*propiedades para la imagen*/
    height: 100%;
    margin-top: -5%;
}


/*VENTANAS DE PADECIMIENTOS*/

#seleccionar{
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 250%;
}

.menu{/*Darle color en el fondo donde estan las ventanas de padecimientos*/
    background-color: #F1Eada;
    padding: 10px 0;
}

.lista { /*Para que las ventanas después del video aparezcan todas a un costado*/
    display: inline-block;
    margin: 0 0px;
    font-size: 30px;
}

.a1 { /*Vista de la ventana 1*/
    color: black;
    text-decoration: none;
    background-image: linear-gradient(rgba(136, 136, 138, 0.486), rgba(160, 157, 157, 0.356)), 
    url(img1/Aim.webp);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 50px;
    border-radius: 7px;
    font-size: 250%;
    font-family: "Lexend", sans-serif;
    transform: translateY(15%);
    transition: box-shadow 0.3s ease;
}

.a1:hover{/*Opacea la ventana 1 cuando la flechita pasa por la ventana*/
    opacity: 40%;
    color: rgb(8, 8, 8);
    box-shadow:  0 0 17px rgb(43, 43, 41); 
}

.a2 { /*Vista de la ventana 2*/
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-image:linear-gradient(rgba(136, 136, 138, 0.486), rgba(160, 157, 157, 0.356)), 
    url(img1/depresion12.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 60%;
    margin-left: 50px;
    border-radius: 7px;
    font-size: 250%;
    font-family: "Lexend", sans-serif;
    transition: box-shadow 0.3s ease;

} 
.a2:hover{/*Opacea la ventana 2 cuando la flechita pasa por la ventana*/
    opacity: 40%;
    color: rgb(10, 9, 9);
    box-shadow:  0 0 17px rgb(43, 43, 41);
}

.a3 {/*Vista de la ventana 3*/
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-image:linear-gradient(rgba(171, 171, 173, 0.486), rgba(176, 173, 173, 0.356)), 
    url(img1/image-2.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 60%;
    margin-left: 50px;
    border-radius: 7px;
    font-size: 250%;
    font-family: "Lexend", sans-serif;
    transition: box-shadow 0.3s ease;
}
.a3:hover{/*Opacea la ventana 3 cuando la flechita pasa por la ventana*/
    opacity: 40%;
    color: rgb(10, 8, 8);
    box-shadow:  0 0 17px rgb(43, 43, 41);
}

#lista2{
    display: flex;
}
.a4{
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-image:linear-gradient(rgba(171, 171, 173, 0.486), rgba(176, 173, 173, 0.356)), 
    url(img1/tdah.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 60%;
    margin-left: 100%;
    transform: translateY(60%);
    border-radius: 7px;
    font-size: 250%;
    font-family: "Lexend", sans-serif;
    transition: box-shadow 0.3s ease;
}

.a4:hover{
    opacity: 40%;
    color: rgb(10, 8, 8);
    box-shadow:  0 0 17px rgb(43, 43, 41);
}

/*CONTENIDO*/

#bienvenida{
    font-family: "DM Sans", sans-serif;
    font-size: 250%;
}

#introducirnos{
    font-size: 190%;
    font-family:"DM Sans", sans-serif;
}

.container3 { /* Hace que exista un espacio entre la pantalla y el sitio web */
    width: 80%;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    padding: 8%;
    margin-bottom: 2%;
}

#subtema{/*Palabra "Conoce mas" en apartado*/
    font-size: 230%;
    font-family: "DM Sans", sans-serif;
}

#conocernos { /*Primer parrafo del inicio*/
    font-size: 210%;
    margin-left: 5%;
    font-family: "DM Sans", sans-serif;
}

#importancia{ /*Segundo parrafo inicio*/
    font-size: 210%;
    margin-left: 5%;
    font-family: "DM Sans", sans-serif;
}

#foto1 { /* Foto al costado del primer parrafo*/
    width: 500px;
    margin-top: 30%;
}

#fotolado1 { /* Hace que el primer parrafo y la foto aparezcan una a cada lado*/
    display: flex;
    margin-top: 3%;
}

#fotolado2{  /* Hace que el segundo parrafo y la foto aparezcan una a cada lado*/
    display:flex;
    margin-top: 6%;
    
}

#foto2{ /* foto al costado del segundo parrafo*/
    width: 500px;
}
.card {/*para el tamaño de la imag*/
    width: 500px;/*define el ancho de la tarjeta*/
    height: 400px;/*define la altura de la tarjeta*/
    perspective: 1000px;/*profundidad para el efecto 3D*/
  }
  
  .card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;/*suavidad del giro*/
    transform-style: preserve-3d;/*mantiene el efecto 3D*/
  }
  
  .card:hover .card-inner {/*al pasar el mause se gira 180 grados*/
    transform: rotateY(180deg);
  }
  
  .card-front, .card-back {/*la cara frontal y trasera compraten estas reglas*/
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;/*oculta la cara trasera al frente*/
    border-radius: 10px;/*bordes redondos*/
    overflow: hidden;/*oculta lo que salga del borde*/
  }
  
  .card-front img {/*estilo de la cara trasera con el texto*/
    width: 100%;
    height: 100%;
    object-fit: cover;/*asegura que la imagen llene bien el espacio*/
  }
  
  .card-back {/*estilo de la cara trasera con el texto*/
    background-color: #fac177;
    font-size: 40px;
    opacity: 60%;
    color: rgb(250, 250, 249);
    transform: rotateY(180deg);
    display: flex;
    align-items: center;/*centra verticalmente*/
    justify-content: center;/*centra horizontalmente*/
    padding: 20px;
    box-sizing: border-box;/*incluye el padding en el tamaño total*/
    text-align: center;
  }


/*PIE PAGINA*/

#pie {/*Propiedades del footer*/
    background-color: #F1Eada;
    height: 300px;
    width: 100%;
}


.nosotros{/* Propiedades para el apartado "sobre nosotras*/
    font-size: 170%;
    margin-left: 5%;
    transform: translateY(200%);
    width: 20%;
    color: #362d18;
    transition: color 0.32s ease;
    font-family: "Lexend", sans-serif;
    font-weight: 500;
}

.nosotros:hover{
    color:  #d69601;
    opacity: 100%;
    
}

.redes1{/*Agrega el apartado de nuestras redes*/
    font-size: 170%;
    margin-left: 5%;
    transform: translateY(220%);
    width: 20%;
    font-family: "Lexend", sans-serif;
    font-weight: 500;
    color: #362d18;
    transition: color 0.32s ease;
}

.redes1:hover{
    color: #d69601;
}

#pie-padecimientos{
    font-size: 170%;
    margin-left: 30%;
    width: 20%;
    font-family: "Lexend", sans-serif;
    font-weight: 500;
    color: #362d18;
    transition: color 0.32s ease;
    text-decoration: none;
}
#pie-padecimientos:hover{
    color: #d69601;
}

#pieFrase{/*Propiedades de la palabra "Amor de padres" en el footer*/
    transform: translateY(-50%) translateX(75%);
    font-size: 220%;
    opacity: 80%;
    font-family:"Lexend", sans-serif;
    font-weight: 500;
}

.Copyright{/*Agrega el copyright en el footer*/
    font-size: 160%;
    transform: translateY(200%) translateX(45%);
    opacity: 50%;
    font-family:"Lexend", sans-serif;
    font-weight: 200;
}

#parte2{
    background-color: #cec1a8;
    height: 40%;
    margin-top: 5%;
}